.choice-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: aqua; */
  }

  .choice-container img {
    width: 250px;
    height: 180px;
    
  }

  .player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;

    /* background-color: aqua; */
  }
  .computer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    justify-content: space-between;
    
    /* background-color: aqua; */

  }

  .userBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    justify-self: flex-end;
    border: 10px solid #804cea;
  }

  .userBox img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(201, 197, 197);
    color:rgb(95, 144, 214)
  }
  
  
  
 
  .chosen-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    color: aliceblue;
    font-size: 25px;
  }
  
  .chosen-item img {
    width: 120px;
    height: 120px;
  }
  .choice-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
  }
  
  .choice-buttons button {
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #804cea;
    color: aliceblue;
    font-size: 18px;
  }
  
  .choice-buttons button img {
    width: 60px;
    height: 60px;
    background-color: #804cea;
  }
  
  .choice-buttons button span {
    margin-top: 10px;
    text-align: center;
  }

  .choice-buttons button:hover {
    background-color:rgb(93, 216, 103)
    
  }

  .choice-buttons button img:hover {
    background-color:rgb(93, 216, 103)
  }