/* Game Component */
* {
    background-color: #bb82f4;
}

.gameEnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
     /* Add your desired background color */
     text-align: center;
  }
  
  .gameEnd p {
    margin-bottom: 10px;
  }
  
  .gameEnd button {
    padding: 20px 40px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 20px;
  }
  
  .gameEnd button:hover {
    background-color: #45a049;
  }
  
 