.score-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    justify-content:space-around;
    height: 100px;
  }
  
  .score-component h1 {
    margin: 0;
  }